<div class="home">
    <app-wyy-carousel #wyCarousel [activeIndex]="carouselActiveIndex" (changeSlide)="onChangeSlide($event)">
        <nz-carousel
        nzAutoPlay
        nzEffect="fade"
        [nzDotRender]="wyCarousel.dotRef"
        (nzBeforeChange)="onBeforeChange($event)">
            <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
                <a [href]="item.url" target="_blank" class="banner-item">
                    <img [src]="item.imageUrl" />
                </a>
            </div>
        </nz-carousel>
    </app-wyy-carousel>

    <div class="main">
        <div class="wrap">
          <div class="left">
            <div class="sec">
              <div class="up">
                <div class="navs">
                            <h2>
                                <i></i>
                                <a>HotTag</a>
                            </h2>
                            <nav>
                                <a *ngFor="let item of hotTags">{{item.name}}</a>
                            </nav>
                        </div>
                        <a>
                            More
                            <i nz-icon type="arrow-right" theme="outline"></i>
                        </a>
                    </div>


                    <div class="down">
                        <div class="down-wrap">
                            <app-single-sheet
                             class="sheet-item"
                             *ngFor="let item of songSheetList"
                             [sheet]="item"
                             (onPlay)="onPlaySheet($event)"
                            ></app-single-sheet>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                
                <app-member-card></app-member-card>
                <div class="settled-singer">
                    <div class="tit"><b>Singer</b></div>
                    <div class="list">
                        <div class="card" *ngFor="let item of singers">
                            <div class="pic">
                                <img [src]="item.picUrl" [alt]="item.name">
                            </div>
                            <div class="txt">
                                <b class="ellipsis">{{item.name}}</b>
                                <span>Album Count：{{item.albumSize}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>